<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>Mauna Developers</vendor>
  <vendor_url>https://maunalinux.top</vendor_url>

  <action id="top.mauna.pkexec.mauna-update-sysaction">
    <description>Mauna Update Authentication</description>
    <message>Authentication is required for Mauna Update</message>
    <message xml:lang="pt_BR">A autenticação é necessária para o Mauna Update</message>    
    <message xml:lang="tr">Mauna Güncelleyici için yetkilendirme gerekiyor</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mauna/mauna-update/src/SysActions.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="top.mauna.pkexec.mauna-update-aptupdateaction">
    <description>Mauna Update Authentication</description>
    <message>Authentication is required for Mauna Update</message>
    <message xml:lang="pt_BR">A autenticação é necessária para o Mauna Update</message>
    <message xml:lang="tr">Mauna Güncelleyici için yetkilendirme gerekiyor</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mauna/mauna-update/src/AutoAptUpdate.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="top.mauna.pkexec.mauna-update-autoaptupgradeaction">
    <description>Mauna Update Authentication</description>
    <message>Authentication is required for Mauna Update</message>
    <message xml:lang="pt_BR">A autenticação é necessária para o Mauna Update</message>    
    <message xml:lang="tr">Mauna Güncelleyici için yetkilendirme gerekiyor</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mauna/mauna-update/src/AutoAptUpgrade.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="top.mauna.pkexec.mauna-update-systemsettingswrite">
    <description>Mauna Update Authentication</description>
    <message>Authentication is required for Mauna Update</message>
    <message xml:lang="pt_BR">A autenticação é necessária para o Mauna Update</message>        
    <message xml:lang="tr">Mauna Güncelleyici için yetkilendirme gerekiyor</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mauna/mauna-update/src/SystemSettingsWrite.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="tr.org.pardus.pkexec.pardus-update-groupaction">
    <description>Mauna Software Center Authentication</description>
    <message>Authentication is required for Mauna Update</message>
    <message xml:lang="pt_BR">A autenticação é necessária para o Mauna Update</message>
    <message xml:lang="tr">Mauna Güncelleyici için yetkilendirme gerekiyor</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mauna/mauna-update/src/Group.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
