[Desktop Entry]
Name=Mauna Update
Name[af]=Mauna-opdatering
Name[ar]=تحديث ماونا
Name[ca]=Actualització Mauna
Name[de]=Mauna-Aktualisieren
Name[en]=Mauna Update
Name[es]=Actualización de Mauna
Name[et]=Mauna värskendus
Name[fr]=Mise à jour Mauna
Name[he]=עדכון מאונה
Name[hi]=मौना अपडेट
Name[id]=Pembaruan Mauna
Name[it]=Aggiornamento Mauna
Name[ja]=マウナのアップデート
Name[ko]=마우나 업데이트
Name[pl]=Aktualizacja Mauny
Name[pt]=Atualização do Mauna
Name[pt_BR]=Mauna Update
Name[tr]=Mauna Güncelleyici
Name[zh_CN]=莫纳更新
Comment=Simple update application
Comment[af]=Eenvoudige opdateringstoepassing
Comment[ar]=تطبيق تحديث بسيط
Comment[ca]=Aplicació d'actualització senzilla
Comment[de]=Einfache Update-Anwendung
Comment[en]=Simple update application
Comment[es]=Aplicación de actualización sencilla
Comment[et]=Lihtne värskendusrakendus
Comment[fr]=Application de mise à jour simple
Comment[he]=יישום עדכון פשוט
Comment[hi]=सरल अद्यतन अनुप्रयोग
Comment[id]=Aplikasi pembaruan sederhana
Comment[it]=Applicazione di aggiornamento semplice
Comment[ja]=簡単アップデートアプリ
Comment[ko]=간단한 업데이트 신청
Comment[pl]=Prosta aplikacja aktualizacyjna
Comment[pt]=Aplicação de actualização simples
Comment[pt_BR]=Aplicativo de atualização simples
Comment[tr]=Basit güncelleme uygulaması
Comment[zh_CN]=简单的更新应用程序
Exec=mauna-update
Icon=mauna-update
Terminal=false
Type=Application
Categories=GTK;System;
StartupNotify=true
Keywords=apt;update;upgrade
